* {
	box-sizing: border-box;
}

html {
	font-family: livvic-semiBold;
	font-size: 18px;
	line-height: 28px;
}

body {
	margin: 0;
	padding: 0;
	height: 100vh;
	overflow-x: hidden;
	background-color: $bg-1;
	color: #fff;
	font-weight: 600;
}

input,
textarea,
select {
	font-family: unset;
	font-size: 14px;
	color: unset;
	transition: all 100ms ease 0s;
}

select:hover {
	cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
	margin: 0;
}
