@font-face {
	font-family: Livvic-semiBold;
	src: url('../../assets/fonts/Livvic/Livvic-SemiBold.ttf');
}
@font-face {
	font-family: Livvic-bold;
	src: url('../../assets/fonts/Livvic/Livvic-Bold.ttf');
}
@font-face {
	font-family: Livvic-regular;
	src: url('../../assets/fonts/Livvic/Livvic-Regular.ttf');
}
@font-face {
	font-family: Livvic-semiBoldItalic;
	src: url('../../assets/fonts/Livvic/Livvic-SemiBoldItalic.ttf');
}
