.bc-blue {
	background-color: rgb(0, 121, 191);
}

.bc-orange {
	background-color: rgb(210, 144, 52);
}
.bc-dark-green {
	background-color: rgb(81, 152, 57);
}
.bc-red {
	background-color: rgb(176, 70, 50);
}
.bc-purple {
	background-color: rgb(137, 96, 158);
}
.bc-pink {
	background-color: rgb(205, 90, 145);
}
.bc-light-green {
	background-color: rgb(75, 191, 107);
}
.bc-cyan {
	background-color: rgb(0, 174, 204);
}
.bc-grey {
	background-color: rgb(17, 0, 116);
}
$green: rgb(54, 199, 54);

$yellow: rgb(252, 252, 78);

//   blue-cover {
//     background-color: rgb(46, 46, 255);
//   }
//   dark-blue-cover {
//     background-color: rgb(19, 19, 110);
//   }
//   purple-cover {
//     background-color: rgb(102, 1, 102);
//   }
//   pink-cover {
//     background-color: rgb(252, 162, 177);
//   }
//   orange-cover {
//     background-color: rgb(253, 178, 39);
//   }
//   red-cover {
//     background-color: rgb(243, 47, 47);
//   }
//   brown-cover {
//     background-color: rgb(131, 33, 33);
//   }
//   light-blue-cover {
//     background-color: rgb(50, 146, 255);
//   }
//   turkiz-cover {
//     background-color: rgb(24, 206, 136);
//   }
