.app-header {
	min-height: 200px;

	// button {
	// 	padding-top: $s-2;
	// }

	.main-header {
		height: 100%;
		padding: 0;
		justify-content: space-between;
		width: 85%;
		align-items: center;
		padding: 48px 24px 0;

		img {
			height: 32px;
			width: 128px;
		}

		@media (min-width: 768px) {
			padding: 83px 165px 0;
			img {
				height: 40px;
				width: 160px;
			}
		}
	}

	.left-container {
		gap: $s-2;
		height: 100%;

		span:first-child {
			padding-left: 80px;
		}

		span {
			padding: 0 20px;
		}
	}

	.contact-us-btn {
		height: 48px;
		width: 153px;
		border: 1px solid white;
		border-radius: 2em;

		span {
			width: 88px;
			height: 28px;
			color: #ffffff;
			font-family: 'Livvic - Semi Bold';
			font-size: 18px;
			font-weight: 600;
			font-style: normal;
			letter-spacing: normal;
			line-height: 28px;
			text-align: left;
		}
	}
}
