.app-header {
	min-height: 50px;
	background: #026aa7;
	color: whitesmoke;

	// button {
	// 	padding-top: $s-2;
	// }

	.main-header {
		height: 100%;
		padding: 0;
		justify-content: space-between;
		width: 100vw;
		align-items: center;

		@media (min-width: 380px) {
			padding: 0 $s-2;
		}
	}

	.left-container {
		gap: $s-2;

		@media (min-width: 380px) {
			gap: $s-8;
		}
	}
	.logo-container {
		margin-left: $s-2;
	}
	.logo-container:hover {
		cursor: pointer;
		opacity: 0.8;
	}

	.app-header-span:hover {
		opacity: 0.8;
	}

	img {
		width: 6rem;
		height: $s-8;
	}

	@media (min-width: 380px) {
		img {
			width: 8rem;
		}
	}

	.img {
		height: $s-4;
		width: $s-4;
		margin-right: $s-2;
	}

	ul {
		padding: 0;
		display: flex;
		margin: 0;
	}

	li {
		cursor: pointer;
		margin-left: $s-2;
		display: flex;
		justify-content: center;
		align-items: center;
		height: 44px;
	}

	@media (min-width: 380px) {
		li {
			margin-left: $s-8;
		}
	}

	li {
		display: flex;
		justify-content: flex-start;
		justify-content: center;
		position: relative;
		margin-left: 0;
	}

	li:hover {
		cursor: pointer;
	}

	.app-header li:hover {
		opacity: 0.8;
	}

	// User

	.user-profile-div {
		position: relative;
	}

	.user-details {
		flex-wrap: wrap;
		margin-bottom: $s-2;

		p {
			margin: 0;
		}

		img {
			height: 32px;
			width: 32px;
		}
	}

	.user-details-text {
		margin-left: $s-2;
	}
	.user-avatar {
		right: 0;
		display: flex;
		align-items: center;
		position: relative;
		margin-right: $s-2;
	}

	.user-avatar-btn {
		font-weight: 700;
		cursor: pointer;
		height: 32px;
		width: 32px;
		background-color: darkcyan;
		border-radius: 50%;
		color: $b1;
	}

	.user-modal {
		z-index: 10;
		background-color: white;
		color: $b1;
		flex-direction: column;
		min-height: 150px;
		height: fit-content;
		width: fit-content;
		position: absolute;
		align-items: flex-start;
		right: 7.5%;
		top: 130%;
		min-width: 300px;
		padding: 0 $s-3 $s-3;
		border-radius: $s-1;
		font-weight: normal;
		box-shadow: 0 8px 16px -4px rgba(9, 30, 66, 0.25), 0 0 0 1px rgba(9, 30, 66, 0.08);

		.logout {
			padding: $s-2 0;
		}
	}
}
